/* Global Styling Start */

:root {
  --primaryColor: #f8e3d0;
  --textColor: #000;
  --bgColor: #f8e8de;
  --buttonColor: #e97e37;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #f7ede5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--buttonColor);
}

a,
span,
p {
  font-family: "EB Garamond", serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 700;
}

cite {
  font-family: "Dancing Script", cursive;
}

.main-container {
  max-width: 1980px;
}

/* Global Styling End */

/* Navbar Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primaryColor);
  color: var(--textColor);
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px solid var(--buttonColor);
}
.navbar img {
  height: 6.4vh;
  width: auto;
  margin-left: 3em;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li:last-child {
  margin-right: 5em;
}
.navbar-links li a {
  text-decoration: none;
  padding: 1em 0.8em;
  font-size: 2.2em;
  display: block;
  transition: color 0.2s linear;
  color: var(--textColor);
}
.navbar-links a:hover {
  color: var(--buttonColor);
}

/* Navbar End */

/* Header Slideshow Start */
.header-container {
  width: 100vw;
  height: 90vh;
  background-color: #000;
  position: relative;
}

.header-bg {
  height: 100%;
  width: 100%;
  background-position: center;
  background: url(images/slide4.jpg);
  background-size: cover;
}

.slider {
  height: 100%;
  width: 100%;
  background: url(images/slide1.jpg);
  background-position: center;
  background-size: cover;
  animation: slide 30s infinite;
  opacity: 0.6;
}
@keyframes slide {
  20% {
    background: url(images/slide1.jpg);
    background-position: center;
    background-size: cover;
  }
  25% {
    background: url(images/slide2.jpg);
    background-position: center;
    background-size: cover;
  }
  45% {
    background: url(images/slide2.jpg);
    background-position: center;
    background-size: cover;
  }
  50% {
    background: url(images/slide3.jpg);
    background-position: center;
    background-size: cover;
  }
  70% {
    background: url(images/slide3.jpg);
    background-position: center;
    background-size: cover;
  }
  75% {
    background: url(images/slide4.jpg);
    background-position: center;
    background-size: cover;
  }
  95% {
    background: url(images/slide4.jpg);
    background-position: center;
    background-size: cover;
  }
  100% {
    background: url(images/slide1.jpg);
    background-position: center;
    background-size: cover;
  }
}

.head-banner h1 {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12em;
  letter-spacing: 2px;
  color: rgb(245, 222, 179);
  border: 1px solid black;
  background-color: rgba(245, 222, 179, 0.2);
  text-shadow: 0 0 8px black;
  padding: 0.3em;
}

.btn-primary {
  position: absolute;
  bottom: 20%;
  left: calc(50% - 4em);
  background-color: var(--primaryColor);
  padding: 0.5em 2em;
  font-size: 3.2em;
  outline: none;
  border: none;
  color: var(--textColor);
  font-weight: 700;
  box-shadow: 0 0 6px 2px var(--primaryColor);
  cursor: pointer;
  animation: pulse 3s ease-in infinite 1.6s, come-in 1.6s ease-in-out;
  transition: background-color 0.3s ease-in, text-shadow 0.2s ease-out;
}

.btn-primary:hover {
  box-shadow: 0 0 8px 5px #e97e37;
  letter-spacing: 1px;
}

@keyframes pulse {
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes come-in {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  50% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
/* Header Slideshow End */

/* Main Content Start */
.page-body {
  display: flex;
  flex-wrap: wrap;
}

.offer-button {
  background-color: var(--buttonColor);
  border: 1px solid black;
  outline: none;
  font-size: 2em;
  padding: 0.5em 1em;
  margin-top: 0.5em;
  cursor: pointer;
  color: var(--primaryColor);
  letter-spacing: 1px;
}

.offer-button:hover {
  color: var(--textColor);
  box-shadow: 0px 0px 2px black;
}

.left-content {
  flex: 1;
}

.featured-rooms {
  position: sticky;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primaryColor);
  height: 90vh;
  overflow-y: auto;
}

.featured-rooms h3 {
  padding-top: 1em;
  font-size: 2.7em;
  margin: 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid var(--buttonColor);
}

.featured-rooms article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.6em 0.4em;
  padding-bottom: 2em;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--buttonColor);
}

.featured-rooms article:last-child {
  border-bottom: none;
}

.featured-room h4 {
  font-size: 2.2em;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 0.5em;
}
.featured-room img {
  min-width: 300px;
  margin-bottom: 0.6em;
}

.featured-room ul {
  margin-top: 0.5em;
}

.featured-room li {
  font-size: 1.7em;
  font-weight: 500;
}

.featured-room h6 {
  display: block;
  background-color: var(--primaryColor);
  padding: 2em;
  margin-bottom: 1rem;
}

.main-content {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bgColor);
}

.main-offer-section {
  max-width: 768;
  margin: 5em auto;
  box-shadow: none;
}

.main-section-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-offer-section #logo {
  width: 200px;
  height: auto;
  margin-bottom: 2em;
}

.main-article-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-article-left {
  width: 300px;
}

.main-article-right {
  width: 300px;
}

.offer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em 2em;
  padding: 2rem;
  box-shadow: 0px 2px 10px 3px var(--textColor);
  transition: transform 0.3s ease-in;
  max-width: 460px;
}

.offer-section:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 12px 5px var(--textColor);
}

.section-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-image {
  background-color: var(--primaryColor);
}

.offer-section img {
  max-width: 440px;
  max-height: 300px;
  align-self: center;
  margin: 2em auto;
}

.offer-section .article-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  max-width: 440px;
}

.main-content h3 {
  font-size: 3em;
  margin: 0;
  margin-bottom: 0.5em;
}

.main-content h5 {
  font-size: 2em;
  margin: 0;
  margin-bottom: 1.5em;
}

.main-content p {
  font-size: 1.7em;
  padding: 0 2em;
  margin-top: 0;
}

.right-content {
  flex: 2;
}

.booking-card {
  position: sticky;
  top: 10vh;
  height: 50vh;
  background-color: var(--primaryColor);
}

.review-wrapper {
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.review-title {
  font-size: 2.2rem;
  text-transform: capitalize;
  margin-top: 5rem;
  margin-bottom: 0;
  position: relative;
}

.review-title:after {
  content: '';
  width: 5rem;
  height: 0.2rem;
  background-color: var(--buttonColor);
  border-radius: 20px;
  position: absolute;
  top: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
}

.customer-review {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  position: relative;
  background-color: var(--primaryColor);
  margin: 0rem 2rem 4rem 2rem;
  box-shadow: 0 0 5px 2px black;
}

.customer-name {
  font-size: 2rem;
  margin: 0;
  margin-top: 2rem;
}

.customer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customer-job {
  margin: 0;
  padding: 0 !important;
  font-size: 1.5rem !important;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.ratings i {
  color: var(--buttonColor);
  font-size: 1.5rem;
}

.review-border {
  display: flex;
  width: 100%;
  position: relative;
}

.review-border i {
  font-size: 1.4rem;
  width: 10%;
}

.dashed-border {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 90%;
  border-bottom: 2px dashed var(--buttonColor);
}

.customer-text {
  display: flex;
}

.text-review {
  font-style: italic;
  padding: 0 !important;
}

/* Main Content End */

/* Footer Start */
footer {
  background-color: var(--primaryColor);
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--buttonColor);
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-left p {
  font-size: 1.2em;
}

.icons-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.icons-container i {
  font-size: 2.4em;
  transition: color 0.3s linear;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  margin: 0.5em;
}

.footer-right h4 {
  font-size: 2.5em;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.footer-right p {
  font-size: 1.6em;
  margin: 0.5em 0;
  font-weight: 700;
}

.footer-right span {
  font-weight: 400;
}
/* Footer End */

/* Rooms Start */

.page-body {
  display: flex;
}

.filter-rooms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--bgColor);
  padding: 1em 2em;
}

.filter-rooms-container h2 {
  font-size: 2.5em;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--buttonColor);
  margin-bottom: 0.5em;
}

.room-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid var(--buttonColor);
  padding: 1em;
}

.special {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.room-label h3 {
  font-size: 1.5em;
  letter-spacing: 1px;
}

#type {
  width: 140px;
  padding: 0.3em 1em;
}

#guest {
  width: 50px;
  padding: 0.3em 0.5em;
}

#filterRooms input {
  padding: 0.5em 1em;
}

#filterRooms input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.rooms-list {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 4em;
  justify-content: center;
  flex: 4;
}

.room-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5em 4em;
  padding: 0.5rem 2rem 2rem 2rem;
  box-shadow: 0px 2px 10px 3px var(--textColor);
  transition: transform 0.3s ease-in;
  max-width: 260px;
  min-width: 220px;
  max-height: 600px;
  position: relative;
  border: 2px solid var(--buttonColor);
  border-radius: 15px;
}

.room-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 12px 5px var(--textColor);
}

.room-item h4 {
  font-size: 2.4em;
  margin-bottom: 0.4em;
}

.room-item img {
  width: 100%;
}

.room-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  height: 178px;
  width: 100%;
  padding: 0.1em;
}

.room-details h6 {
  font-size: 1.8em;
  letter-spacing: 1px;
  margin-top: 1.5em;
  margin-bottom: -0.5em;
}

.room-details p {
  font-size: 1.4em;
}

.room-extras {
  width: 100%;
}

.room-extras h5 {
  font-size: 1.8em;
  letter-spacing: 1px;
  margin-top: 0.2em;
  margin-bottom: -0.5em;
}

.room-extras ul li span {
  font-size: 1.45em;
  font-weight: bold;
}

.room-specials {
  display: flex;
}

.extras {
  flex: 3;
}

.rating {
  display: flex;
  flex: 1;
  background-color: var(--buttonColor);
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.rating h3 {
  font-size: 3em;
}

.special-offer {
  position: absolute;
  top: -5%;
  right: -5%;
  background-color: var(--bgColor);
  transform: rotate(10deg);
  padding: 0.5em 2em;
  border: 2px solid var(--buttonColor);
  border-radius: 50%;
}

.special-offer h3 {
  font-size: 1.6em;
  letter-spacing: 0.5px;
}

.booking-content {
  position: sticky;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--bgColor);
  padding: 1em 2em;
  height: 90vh;
}

.booking-content .room-label {
  width: 100%;
  font-size: 1.2em;
}

.booking-content input {
  width: 100%;
  padding: 0.4em;
}

.booking-content h2 {
  font-size: 2.5em;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--buttonColor);
  margin-bottom: 0.2em;
}

.booking-content h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.6em;
}

.booking-content h4 {
  font-size: 2.8em;
}

.booking-content h5 {
  margin: 0.5em 0;
  font-size: 1.5em;
}

.total-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -1.5em;
  margin-bottom: -2.5em;
}

.total-container h3 {
  font-size: 3em;
  margin-right: 0.5em;
}

#book-btn {
  padding: 1em;
  width: 100%;
  margin-left: 0.5em;
}

/* Rooms End */

/* Food Start */

.header-bg-gastro {
  height: 100%;
  width: 100%;
  background-position: center;
  background: url(images/slide2.jpg);
  background-size: cover;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-offer-section {
  max-width: 670px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 1.2rem;
}

.underline {
  width: 5rem;
  height: 0.2rem;
  background-color: var(--buttonColor);
  margin: -1.2rem auto 2.5rem auto;
  border-radius: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.filter-btn {
  background: transparent;
  border: 2px solid var(--buttonColor);
  border-radius: 15px;
  color: var(--textColor);
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding: 0.5rem;
  width: 80px;
  margin: 0 0.6rem;
  font-size: 1.1rem;
}

.filter-btn:hover {
  background: var(--buttonColor);
  transform: scale(0.95);
}

.food-wrapper {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
  justify-items: center;
}

.food-item {
  display: grid;
  grid-template-columns: 260px 320px;
  padding: 2rem;
  transition: transform 0.3s ease-in-out;
}

.food-item:hover {
  transform: scale(1.05);
}

.photo {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border: 3px solid var(--buttonColor);
  border-radius: 10px;
}

.food-info {
  margin-left: 1rem;
}

.food-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--buttonColor);
  font-size: 1.4rem;
  margin-top: -1.5rem;
  padding: 0 1rem;
}

.food-header h4 {
  margin-bottom: 0.2rem;
}

.food-rating {
  width: 30px;
  height: 30px;
  background-color: var(--buttonColor);
  border-radius: 50%;
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-rating h3 {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0.1rem;
}

.food-info p {
  padding: 0.4rem 1rem;
}

.left,
.right {
  width: 50px;
  height: 50px;
}

.wine-title {
  margin-top: 5rem;
}

.wine-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-arrow-left,
.fa-arrow-right {
  color: var(--textColor);
  font-size: 2rem;
  position: absolute;
  top: 40%;
}

.fa-arrow-left {
  left: 2%;
}

.fa-arrow-right {
  right: 2%;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover {
  cursor: pointer;
}

.wine-list-wrapper {
  max-width: 870px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.wine-list {
  display: flex;
  width: 100%;
  height: 360px;
  transition: transform 0.4s ease;
}

.wine-card {
  min-width: 200px;
  min-height: 340px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 1rem 2rem 3rem 2rem;
  box-shadow: 0px 2px 10px 3px var(--textColor);
  transition: all 0.2s ease-in-out;
}

.wine-card.red {
  background: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.87)),
    url("https://upload.wikimedia.org/wikipedia/commons/e/e3/Close_up_grapes.jpg")
      center no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid rgba(255, 0, 0, 0.274);
}

.wine-card.white {
  background: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.87)),
    url("https://ak.picdn.net/shutterstock/videos/2689886/thumb/1.jpg")
      center no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid rgb(248, 246, 222);
}

.wine-card:hover {
  transform: scale(0.95);
  box-shadow: 0px 2px 10px 6px var(--textColor);
}

.wine-card h4 {
  font-size: 1.2rem;
  color: var(--primaryColor);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: -2rem;
  position: relative;
  overflow: hidden;
}

.card-body img {
  display: block;
  width: 100px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 0.2rem;
  z-index: 2;
}

.card-body p {
  color: var(--bgColor);
  font-size: 0.8rem;
  text-align: center;
}

.card-body h3 {
  position: absolute;
  top: 50%;
  transform: rotate(45deg) translateY(-40%);
  letter-spacing: 1.8rem;
  font-size: 8rem;
  color: white;
  z-index: 1;
  opacity: 0.3;
}
/* Food End */

/* Services Start */

.header-bg-services {
  height: 100%;
  width: 100%;
  background: url(images/service.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Services End */

.first-service {
  height: 30rem;
  width: 60rem;
  display: flex;
}

.img-wrapper {
  flex: 1;
}

.img-wrapper img {
  width: 100%;
  border: 2px solid var(--buttonColor);
}

.service-info {
  flex: 2;
  padding: 3rem;
}

.info-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.info-title {
  display: flex;
  flex-direction: column;
}

.service-special {
  color: var(--buttonColor);
  font-size: 1.2rem;
  position: relative;
  margin: 0;
  margin-bottom: 0.6rem;
}

.service-special::after {
  content: "";
  display: block;
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10rem;
  width: 3rem;
  height: 2px;
  background-color: var(--buttonColor);
  z-index: 100;
}

.service-info-title {
  font-size: 2rem;
  margin: 0;
}

.service-fact {
  background-color: var(--buttonColor);
  padding: 0.5rem 1rem;
  position: relative;
}

.service-fact::before {
  content: "";
  height: 3px;
  width: 50%;
  position: absolute;
  bottom: -3px;
  left: -3px;
  background-color: black;
}

.service-fact::after {
  content: "";
  height: 50%;
  width: 3px;
  position: absolute;
  left: -3px;
  top: 50%;
  background-color: black;
}

.service-fact h5 {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0;
}

.article-text {
  display: flex;
}

.article-text .text-left,
.article-text .text-left {
  padding: 0;
}

.director-area {
  margin-top: 1rem;
  display: flex;
}

.director-info {
  display: flex;
  flex: 1;
}

.director-info .img-wrapper {
  flex: 1;
}

.director-info .img-wrapper img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.director-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.director-name {
  font-size: 1.4rem;
  margin: 0;
}

.director-details h6 {
  font-size: 1rem;
  color: var(--buttonColor);
  margin: 0;
}

.signature-wrapper {
  flex: 1;
  height: 100%;
}

.signature-wrapper img {
  width: 50%;
  height: 50%;
}
